@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansregular';
    src: url('fonts/notosans-regular-webfont.woff2') format('woff2'),
        url('fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: rgba(224, 224, 224, 0.3);
    margin: 3rem auto;
    width: 100%;
    overflow: scroll;
}



#wrapper {
    /*    border: 5px solid red;*/
    width: 800px;
    margin: 0 auto;
    font-family: 'noto_sansregular';
    font-size: 1.2rem;

}

h1 {
    font-family: 'open_sansbold';
    text-align: center;
}

p {
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

#example {

    margin: 0 auto;
    display: block;
}

#example img {
    max-width: 460px;
}

#example p {
    padding: 1rem 0;
    float: right;
    max-width: 300px;

}

#word-content {
    padding: 2rem;
}

#word-area {
    width: 100%;
    padding-right: 1rem;
    /*    float: left;*/
}

#images-area {
    /*    float: left;*/
    width: 50%;
}

a:any-link,
a:visited {
    font-family: 'open_sansbold';
    text-decoration: none;
    font-weight: 700;
    color: #d52d30;
}

images {
    text-align: center;
}

#word-area ul {
    margin: 0;
    list-style: circle;
}


hr {
    margin: 3rem 0;
}
